@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
}
/* ---------------------HEADER--------------------- */

header {
    width: 96%;
    height: 70px;
    order: 1;
    margin: 30px;
    display: flex;
    justify-content: space-between;
}
.bx-menu{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.header__image{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-image: url(../images/cat.png);
    background-size: 100%;
    background-position: center;
}
/* ---------------------HEADER--------------------- */


/* ---------------------NAV--------------------- */

nav {
    margin-left: 30px;
    grid-row: 1 / span 2;
}
.nav__logo {
    margin: 30px 0;
    height: 70px;
    display: flex;
    gap: 35px;
    align-items: center;
    color: #1775f1;
    font-size: 30px;
}
.nav__logo i{
    margin-right: 0;
}
.section__title {
    margin-bottom: 8px;
    color: #898d99;
}
.nav__divs {
    width: 60%;
    height: 53px;
    margin-bottom: 30px;
    padding: 0 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
nav i{
    margin-right: 15px;
}
#arrow1 {
    margin-left: 95px;
}
#arrow2 {
    margin-left: 115px;
}
/* ---------------------NAV--------------------- */


/* ---------------------MAIN--------------------- */

main{
    order: 1;
    background-color: #f2f1f6;
    padding: 35px 30px;
}
.main__title{
    margin-bottom: 15px;
    font-size: 40px;
}
.hD {
    display: flex;
    font-size: 20px;
}
.home {
    margin-right: 5px;
    color: #1775f1;
}

/* ---------------------MAIN--------------------- */